body {
    padding: 25px;
    color: black;
    font-size: 25px;
    /*background-color: grey;
    background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);*/
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    background-attachment: fixed;
}

dg{
    background-color: lightgray;
}
.wt{
    color: white;
    font-size:30px;
}


b{
    /*color: #b329f8;*/
    color: #1b042b;
    font-size: 20px;
    left: -100px;
}

c{
    color: #5ee3cf;
    font-size: 20px;
    left: -100px;
}
underline{
    color: white;
    font-size: 22px;
    text-decoration:underline;
}
w{
    color: #ffffff;
    font-size: 18px;
    left: -100px;
}

sw{
    color: #ffffff;
    font-size: 10px;
    left: -100px;
}

mw{
    color: #ffffff;
    font-size: 12px;
    left: -100px;
}

/*edit info font, profile edit*/
pe{
    color: #ffffff;
    font-size: 20px;
    text-decoration:underline;
}
yl{
    color: #e7ca0f;
    font-size: 18px;
}
h2 {
    font-family: "Wallpoet", sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h3{
    font-size: 17px;
}

h4{
    color: white;
    font-size: 20px;
    left: -70px;
}

h5{
    color: white;
    left: -70px;

}

h6{
    position: relative;
    color: white;
    left: -100px;
}

.boxed {
    border: 1px solid #f0f ;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-color: #d5d1ef;

}

.boxed:hover {
    border: 1px solid #0000 ;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-color: #d5d1ef;
}

.boxed2 {
    border: 1px solid #f0f;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-color: #d5d1ef;
}

div.sticky{
    text-align: left;
    top: 0;
    padding: 5px;
    /*background-color: lightslategrey;
    border: 2px solid #9f98e8;*/
    /*background-color: #aff6cf;*/
    border: 2px solid #9f98e8;
}
/*profile picture*/
div.pp{
    width:200px;
    height:200px;
    content:url("Kayn_PP.png");
    float: right;
    margin:0;
    padding:10px;
    border: 2px solid gray;
}

/*gamer name*/
.gn{
    color: #9752cc;
    font-size: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: grey;
    background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
}
.card:hover {
    box-shadow: 0px 10px 15px 0 rgb(170, 221, 212);

}

.flip-card {
    background-color: transparent;
    width: 450px;
    height: 250px;

    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #aff6cf;
    background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
    /*background-color: transparent;*/
    color: black;
}

/* Style the back side */
.flip-card-back {
    /*background-color: transparent;*/
    background-color: #aff6cf;
    background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
    color: white;
    transform: rotateY(180deg);
}

.column {
    float: left;
    width: 31%;
    padding: 10px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}


/* buttons */
.myButton {
    box-shadow:inset 0px 1px 0px 0px #efdcfb;
    background-image:linear-gradient(315deg, #dfbdfa 5%, #bc80ea 100%);
    background-color:#dfbdfa;
    background-color:#dfbdfa;
    border-radius:6px;
    border:1px solid #c584f3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #9752cc;
}

.myButton:hover {
    background-image:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
    background-color:#bc80ea;
}
.myButton:active {
    position:relative;
    top:1px;
}
